tokenizers
sentencepiece
shortuuid
torch
torchvision
torchaudio
transformers==4.51.3
accelerate
peft
bitsandbytes
pydantic
markdown2
numpy
scikit-learn
gradio
gradio_client
requests
httpx
uvicorn
fastapi
einops
einops-exts
timm
ftfy
diffusers

datasets
tabulate
ninja
qwen_vl_utils
huggingface_hub
wandb
